@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');

:root {
  --accentcolor: 116,116,116;
  --accentcolor2: 232,74,95;
  --linkcolor: 47,149,153;
  --mentioncolor: 249,212,35;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: 0;
  --backgroundaccent: 0,0,0;
  --backgroundprimary: 0,0,0;
  --backgroundsecondary: 0,0,0;
  --backgroundsecondaryalt: 0,0,0;
  --backgroundtertiary: 0,0,0;
  --backgroundfloating: 0,0,0;
  --settingsicons: 1;
}
